/* variables */

:root {
    --size-minWidth: 1320px;

    --color-copper: #C29A54;
    --color-copperLight: #CDAE8F;
    --color-logoBlueDark: #262C44;
    --color-logoBlue: #31364A;
    --color-logoBlueLight: #414F64;
    --color-contato: #253042;
    --color-footer: #31364A;
    --color-grayLight: #E7E7E9;
    --color-grayLighter: #EFEFF3;
    --color-gray: #827C86;

    --padding-default: 48px
}

/* reset */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    // overflow-x: hidden;
}

body.active_body {
    overflow: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
a, button {
    all: unset;
    cursor: pointer;
}
button {        
    border-radius: 8px;
    color: var(--color-gray);
    background-color: var(--color-grayLight);
    text-align: center;
    transition: all 0.1s ease-out;
    &:hover {
        transition: all 0.1s ease-in;
        color: white;
        background-color: var(--color-copperLight);
    }
}

/* header */

header {
    position: fixed;
    background-color: white;
    width: 100vw;
    .header-wrapper {
        padding-inline: var(--padding-default);     
        height: 62px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-inline-size: var(--size-minWidth);
        .logo-icons{
            display: flex;
            .logo-header {
                width: 227px;
                height: 30px;     
                background-image: url("./assets/svg/logo_monolitica_horizontal.svg");
            }
            .hamburger-wrapper {
                display: none;
            }
        }
        nav {
            display: flex;
            gap: 24px;
            a {
                font-size: 16px;
                font-weight: 400;
                color: var(--color-logoBlue);
                &:hover {
                    color: var(--color-copper);
                }
            }
        }
    }
    .gradient {
        position: absolute;
        width: 100%;
        height: 100px;background: linear-gradient(180deg, rgba(128, 128, 128, 0.1) 0%, rgba(64, 64, 64, 0.05) 50%, rgba(0,0,0,0) 100%);
    }
}


/* home */

#home {
    background-image: url("./assets/jpg/img-banner-01.jpg");
    height: 882px;
    background-position: center;
    background-size: cover;
    .home-content {
        padding-inline: var(--padding-default);
        max-inline-size: var(--size-minWidth);
        margin-inline: auto;
        .home-text {
            padding-top: 350px;
            display: flex;
            flex-direction: column;
            gap: 36px;
            h1, h4 {
                color: white;
                font-weight: 300;
            }
            h1 {
                letter-spacing: 1px;
                font-size: 64px;
                line-height: 72px;
            }
            h4 {
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.25px;
            }
            button {
                width: 190px;
                height: 60px;
            }
        }
        img {
            padding-top: 50px;
            margin-inline: auto;
        }
    }    
}

/* produtos */

#produtos {
    .header-produtos {
        background-color: var(--color-grayLighter);
        height: 230px;
        width: 100%;
        .apresentacao {
            height: 100%;
            max-inline-size: var(--size-minWidth);
            padding-inline: var(--padding-default);
            margin-inline: auto;
            display: flex;        
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            h3, p {
                text-align: center;
            }
            h3 {
                font-size: 32px;
                font-weight: 300;
                color: var(--color-logoBlue);
            }
            p {
                line-height: 24px;
                font-size: 14px;
                font-weight: 400;
                color: var(--color-logoBlueLight);
            }
        }
    }
    article {
        max-inline-size: var(--size-minWidth);
        padding-inline: var(--padding-default);
        margin-inline: auto;
        display: flex;
        gap: 64px;
        height: 400px;
        .produto-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            h2 {
                font-size: 40px;
                font-weight: 300;
                line-height: 48px;
                letter-spacing: -0.5px;
                color: var(--color-copper);
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color-logoBlueLight);                
            }
            button {
                height: 60px;
                width: 144px;
            }
        }
    }
}

/* about */

#about {
    max-inline-size: var(--size-minWidth);
    padding-inline: var(--padding-default);
    margin-inline: auto;
    display: flex;
    gap: 20px;
    .goat {
        background-image: url("./assets/jpg/img-sheep-concept.jpg");
        height: 560px;
        width: 620px;
        background-position: center;
        background-size: cover;
    }
    .about-content {
        width: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        img {
            width: 45px;
        }
        h5 {
            font-size: 32px;
            font-weight: 300;
            line-height: 40px;
            color: var(--color-copper);
        }
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: var(--color-logoBlueLight);
        }
    }
}

/* processo */

#processo {
    max-inline-size: var(--size-minWidth);
    padding-inline: var(--padding-default);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 225px;
    img {
        width: 16px;
        height: 32px;
    }
    .etapa {
        display: flex;
        width: 380px;
        gap: 20px;
        img {
            width: 128px;
            height: 128px;
        }
        .etapa-content {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            h3 {
                font-weight: 300;
                font-size: 32px;
                line-height: 38px;
                color: var(--color-copperLight);
            }
            p {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.25px;
                color: var(--color-logoBlueDark);
            }
        }
    }
}

/* contato */

#contato {
    background-color: var(--color-contato);
    .contato-wrapper {
        max-inline-size: var(--size-minWidth);
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
        height: 388px;
        display: flex;
        .contato-content {
            width: 350px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            h5, p {
                font-family: Roboto;
                color: white;
                letter-spacing: 0.25px;
            }
            h5 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }    
        }
        form {
            width: 350px;
            display: flex;
            flex-direction: column;
            label {
                color: black;
                font-family: Roboto;
                font-weight: 500;
                font-size: 9px;
                line-height: 11px;
                margin-bottom: 2px;
            }
            input, textarea {
                &::placeholder {
                    color: var(--color-gray);
                    font-size: 12px;
                    font-weight: 400;
                  }
            }
            input, textarea, button {
                width: 200px;
                border-radius: 4px;
                margin-bottom: 8px;
            }
            input {
                height: 30px;
            }
            textarea {
                resize: none;
            }
            button {
                margin-top: 12px;
            }
        }
    }
}

/* footer */

#footer {
    background-color: var(--color-footer);
    .footerWrapper {
        max-inline-size: var(--size-minWidth);
        height: 288px;
        margin-inline: auto;
        padding-top: 64px;
        // padding-inline: var(--padding-default);
        padding-inline: var(--padding-default);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .nav {
            display: flex;
            justify-content: space-around;
            width: 370px;
            a {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0.25px;
                color: #D8D5D0;
            }
        }
        .contato {
            .dadosContato {
                h3, p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0.25px;
                    color: white;
                }
                h3 {
                    font-weight: 700;
                }
                p {
                    font-weight: 400;
                }
            }
            .social {
                margin-block: 16px;
                display: flex;
                justify-content: space-between;
            }
        }
        span {
            width: 100vw;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 0;
            color: #827C86;
        }
    }
}

/* ---------- MEDIA ----------*/

@media (max-width: 1320px) {

    :root {    
        --padding-default: 24px
    }

    /* media header */

    #menu {
        height: 0;
        transition: 250ms height ease-in;
        &.active {
            height: 100svh;
        }
    }

    header {
        .header-wrapper {            
            height: auto;            
            gap: 0;
            flex-direction: column;
            .logo-icons {
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .logo-header {
                    margin: 15px 0;
                    width: 45px;
                    height: 29px;     
                    background-image: url("./assets/svg/logo_monolitica_compacta.svg");
                }
                .hamburger-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 60px;
                    align-self: flex-start;
                    position: relative;                    
                    .bar {
                        height: 2px;
                        width: 24px;
                        border-radius: 2.5px;
                        background-color: var(--color-logoBlue);
                        position: absolute;
                        transform-origin: center;
                        transition: rotate 100ms, top 100ms 100ms, bottom 100ms 100ms;                    
                    }
                    .bar:nth-child(1) {
                        top: 20px;
                    }
                    .bar:nth-child(3) {
                        bottom: 20px;
                    }                    
                    &.active_ham .bar {
                        transition: rotate 100ms 100ms, top 100ms, bottom 100ms;                    
                    }
                    &.active_ham .bar:nth-child(1) {
                        top: 50%;
                        rotate: 45deg;
                        translate: 0 -50% 0;
                    }
                    &.active_ham .bar:nth-child(2) {
                        transform: scale(0%);
                    }
                    &.active_ham .bar:nth-child(3) {
                        bottom: 50%;
                        translate: 0 50% 0;
                        rotate: -45deg;
                    }
                }
            }
            nav {
                gap: 48px;
                flex-direction: column;
                overflow-y: hidden;
                a:nth-child(1) {
                    margin-top: 64px;
                }
            }
        }
        .gradient {
            display: none;
        }
    }


    /* media home */

    #home {
        height: 640px;
        .home-content {                        
            .home-text {
                padding-top: 275px;
                justify-content: center;
                align-items: center;
                gap: 24px;
                h1, h4 {
                    font-weight: 400;
                    text-align: center;
                }
                h1 {
                    letter-spacing: 0px;
                    font-size: 48px;
                    line-height: 48px;
                }
                h4 {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                }
            }
            img {
                padding-top: 20px;
            }
        }    
    }

    /* media produtos */

    #produtos {
        .header-produtos {
            height: 250px;            
        }
        article {                        
            flex-direction: column;
            align-items: center;
            height: auto;
            max-height: 550px;
            justify-content: space-between;
            gap: 0px;
            margin-bottom: 24px;
            img {
                max-width: 360px;
            }
            .produto-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                h2, p {
                    text-align: center;
                }
            }
            &.invert {
                flex-direction: column-reverse;
            }
        }
    }

    /* media about */

    #about {
        max-inline-size: 100vw;
        flex-direction: column;        
        max-height: 560px;
        height: auto;
        .goat {
            display: none;
        }
        .about-content {            
            width: auto;
            justify-content: center;
            align-items: center;
            gap: 32px;
            h5, p {
                text-align: center;
            }
        }
    }

    /* media processo */

    #processo {
        max-inline-size: 100vw;
        flex-direction: column;
        height: 645px;
        > img {
            transform: rotate(90deg);
        }
    }

    /* media footer */

    #footer {
        .footerWrapper {            
            height: 555px;            
            padding-top: 32px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            .nav {
                flex-direction: column;
                justify-content: space-evenly;
                flex: 1;
                a {
                    text-align: center;
                }
            }
            .contato {
                .dadosContato {
                    h3, p {
                        text-align: center;
                    }
                }                
                .social {
                    margin-block: 28px;
                }
            }
            span {                
                text-align: center;
                padding-inline: 32px;
            }
        }
    }
}